@import "~slick-carousel/slick/slick.css"; 
@import "~slick-carousel/slick/slick-theme.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
body {
  @apply dark:bg-[#182750] text-black dark:text-white;
}
.hdr a::after{
  @apply bg-[#333] dark:bg-transparent
}
}

::-webkit-scrollbar {
    display: none;
}

.anim {
    position: relative;
  }
  
  .anim>span {
    font-size: 24px;
    opacity: 0;
    height: 0px;
    position: absolute;
    left: 5px;
    }
.anim>span:nth-child(1){
    animation: animation 12s infinite;
  }
  .anim>span:nth-child(2){
    animation: animation 12s infinite;
    animation-delay: 3s;
  }
  .anim>span:nth-child(3){
    animation: animation 12s infinite;
    animation-delay: 6s;
  }
  @keyframes animation {
      0% {opacity: 0; height: auto;}
      16% {opacity: 1;}
      33% {opacity: 0; height: 0px;}
      100% {opacity: 0; height: 0px;}
  }
  

  .custom-z-ind{
    z-index: 999;
  }
  

  .slick-slide {
    margin: 0 15px;
  }
  
  /* the parent */
  .slick-list {
    margin: 0 -20px;
  }

  .slick-track {
    display: flex;
    padding-top: 20px;
    padding-bottom: 50px;
  }
  .hdr a{
    position: relative;
    padding-left: 22px;
    padding-right: 22px;
    line-height: 38px;
    display: inline-block;
  }
  .hdr a:hover{
    color: #ffffff;
    transition: all .5s ease .3s;
  }
  .hdr a::after{
    left: 0;
    
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    line-height: 38px;
    width: 0;
    height: 100%;
    transition: all .5s ease .3s;
    z-index: -1;
  }
  .hdr a:hover:after {
    width: 100%;
}